{% extends "layout.html.twig" %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <h1>CONTACT TWIG</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur doloremque earum fugit magni
        minima molestias, optio perspiciatis suscipit tempore! Architecto, dolores, rerum. Distinctio ducimus iure nobis
        saepe sequi veritatis?</p>
    <form action="">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <button>Envoyer</button>
    </form>
{% endblock %}

